@import '../styles/shared.css';
#about {
  font-size: 26px;
  color: white;
}

nav {
  float: left;
  width: 50%;
  height: 800px;
  background: #ccc;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

.owners {
  display: flex;
  flex-wrap: column;
}

.owners div {
  width: 45%;
  height: 45%;
  line-height: 10px;
  margin: 0.7%;
  padding: 5px;
  font-size: 15px;
  font-family: Calibri;
}

.owners div img {
  width: 95%;
  height: 80%;
  line-height: 22px;
  margin: 0.7%;
  padding: 5px;
}

article {
  float: left;
  padding: 20px;
  width: 50%;
  background-color: #ffffff;
  height: 800px;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #1ddd04;
  padding: 22px;
  text-align: center;
  color: white;
}

@media (max-width: 1200px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}