* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 100%;
  background-color: #1ddd04;
}

.logo img {
  width: 150px;
  margin: 0 0 0 5%;
  padding: 15px;
}

h2 {
  width: 40%;
  margin-left: 40px;
}

top-navbar {
  background-color: #1ddd04;
  padding: 30px;
  text-align: left;
  font-size: 20px;
  color: white;
}

.top-navbar ul {
  list-style: none;
  display: flex;
  background-color: #1ddd04;
  height: 100px;
  padding-top: 20px;
  margin-bottom: 0;
}

.top-navbar ul li a {
  margin: 45px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#about {
  width: 40%;
  margin-left: 40px;
  font-size: 26px;
  color: white;
}

nav {
  float: left;
  width: 50%;
  height: 800px;
  background: #ccc;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

.owners {
  display: flex;
  flex-wrap: column;
}

.owners div {
  width: 45%;
  height: 45%;
  line-height: 10px;
  margin: 0.7%;
  padding: 5px;
  font-size: 15px;
  font-family: Calibri;
}

.owners div img {
  width: 95%;
  height: 80%;
  line-height: 22px;
  margin: 0.7%;
  padding: 5px;
}

article {
  float: left;
  padding: 20px;
  width: 50%;
  background-color: #ffffff;
  height: 800px;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #1ddd04;
  padding: 22px;
  text-align: center;
  color: white;
}

@media (max-width: 1200px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}