* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 100%;
  background-color: #1ddd04;
}

.logo img {
  width: 150px;
  margin: 0 0 0 5%;
  padding: 15px;
}

h2 {
  width: 40%;
  margin-left: 40px;
}

.top-navbar {
  background-color: #1ddd04;
  padding: 25px;
  text-align: left;
  font-size: 20px;
  color: white;
}

.top-navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: #1ddd04;
  height: 13px;
  padding-top: 1px;
  margin-bottom: 0;
}

.top-navbar ul li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

footer {
  background-color: #1ddd04;
  padding: 22px;
  text-align: center;
  color: white;
}